VisualStudio.gitignore
*.vsidx
Minu prorject/.vs/Minu prorject/v17/.suo
Minu prorject/.vs/Minu prorject/v17/DocumentLayout.backup.json
Minu prorject/.vs/Minu prorject/v17/DocumentLayout.json
*.sln
*.csproj
Minu prorject/Minu prorject/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Minu prorject/Minu prorject/obj/Debug/net9.0/Minu prorject.AssemblyInfo.cs
Minu prorject/Minu prorject/obj/Debug/net9.0/Minu prorject.AssemblyInfoInputs.cache
Minu prorject/Minu prorject/obj/Debug/net9.0/Minu prorject.assets.cache
Minu prorject/Minu prorject/obj/Debug/net9.0/Minu prorject.GeneratedMSBuildEditorConfig.editorconfig
Minu prorject/Minu prorject/obj/Debug/net9.0/Minu prorject.GlobalUsings.g.cs
Minu prorject/Minu prorject/obj/Minu prorject.csproj.nuget.dgspec.json
Minu prorject/Minu prorject/obj/Minu prorject.csproj.nuget.g.props
Minu prorject/Minu prorject/obj/Minu prorject.csproj.nuget.g.targets
Minu prorject/Minu prorject/obj/project.assets.json
